{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(car) }}
    {#<h1>Car {{ car.make }}</h1>#}

    {#<table>#}
        {#<tbody>#}
        {#<tr>#}
            {#<th>Model</th>#}
            {#<td>{{ car.model }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>Travelleddistance</th>#}
            {#<td>{{ car.travelledDistance }}</td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('car_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}

