{% extends 'base.html.twig' %}

{% block body %}

    <h1>Supplier</h1>
{{ dump(suppliers) }}
    <table border="1">
        <tbody>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Parts</th>
        </tr>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.parts.getParts() }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('supplier_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}

